.setup-panel {
	.modal-header h4 { text-align: left;  }
	.navbar-inverse-modal {
	    background-color: #5d9cec ;
	    border-color: #5d9cec ;
	    color: #fff;
	}
	.nav {
		li {
			a {
				color: #fff;
				border-right: 1px solid #a8c7b3;
				font-size: 12px;
				font-weight: bold;
				//padding: 18px;
					&:hover, &:focus {
					background: #2a70e8;
					}
			}
			.active {
				background: #2a70e8;
			}
			.completed {
				background: #0e642b;
			}
			&:last-child a{
				border-right: none;
			}
		}
	}//nav
	.nav > li > a {
	    color: #fff !important; 
	}

	form { 
		.control-label {
		    padding: 0;
		    text-align: left;
		    padding-bottom: 10px;
		}
	     .checkbox {
	    	    padding-top: 40px;
	    }
	    
	}
	form.page-3 {
		
		.form-group {
	    	margin-left: 0;
    		margin-right: 0;
	    }
	}
	form.hours {
	    padding: 0px 80px;
	}
	.modal-header {
	    min-height: 16.43px;
	    padding: 10px 30px;
	    border-bottom: 1px solid transparent;
	    
	}
	.modal-body {
	    position: relative;
	    padding: 10px;
	    padding-top: 0px;
	}
	h4 {    text-align: center; }
	.row-nav { margin-left: -26px; margin-right: -26px;  }
	.modal .modal-dialog .modal-content .modal-header { padding-bottom: 15px; }
	.modal .modal-dialog .modal-content .modal-body { padding-top: 0px; }
	.top a {
	    margin-top: 8px;
	    display: block;
	    font-size: 14px;
	    color: #000;
	}
	.top a i {
	    font-size: 10px;
	    margin-right: 6px;
	}
}//

div#tbl {
  height: 40px;
  display: table;
  width: 100%;
  border-spacing: 0 5px;
}
#tbl .row {
  display: table-row;
  margin-top: 4px;
}
#tbl .group {
  height: 40px;
  color: #000;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#tbl .group-40 {
	width: 40%;	
}

#tbl .group-20 {
width: 20%;	
}
#tbl .group-25 {
width: 25%;	
}
#tbl .group-30 {
width: 30%;	
}
#tbl .group-21 {
	width: 21%;	
}
#tbl .group-10 {
	width: 10%;	
}

.well.hours {
	border: 1px solid transparent;
	color: #000;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.0);
	font-size: 16px;
	padding: 12px;
	.timezone {
		text-decoration: underline;
		font-weight: bold;
	}
}
.hours-left-panel {
	border: 1px solid #ddd;
	border-radius: 12px;
	padding: 20px;
	#tbl {
		padding-right: 60px;
	}
	input {
			height: 38px !important;
			padding: 0px 12px;
			background-image: url('../images/dropdown.png');
	   		background-position: 60px 16px;	
	   		background-repeat: no-repeat;
		}
}


 



///============================================================Genral =================================

.no-padding {
	    padding: 0 !important;
}

.no-padding-top {
	    padding-top: 0 !important;
}

.no-padding-top-10 {
	    padding-top: 10px !important;
}
.block-center {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.text-left {
    text-align: left !important;
}
.bold {
    font-weight: bold;
}
//==================================================================== Medeia Query


@media (max-width: 768px) {
		
		.setup-panel {
			.nav > li > a {
				line-height: 26px;
			 }
			.nav-justified>li>a {
    			 margin-bottom: 5px; 
    		}
		}//
}

