/* 
 * ----------------------------------------------------------------------------------------
 * Global Style.
 * ----------------------------------------------------------------------------------------
 */
 
 body {
 	color: #8c919c;
 }

 h2,h3 {
 	color: #21366e;
 }

h3 {
	font-weight: 600;
}
 .list-inline {
 
    margin-left: 0px;
 
}

.list-inline>li {
    
    padding-left: 0px;
}