$orange: #f16209;
.orange {
	color: $orange;
}

$green: #00d400;
.green {
	color: $green;
}

$blue: #00a1e0;
.blue {
	color: $blue;
}

$blue-light: #2a70e8;
.blue--light {
	color: $blue-light !important;
}

$dark-blue: #035a96;
.dark-blue {
	color: $dark-blue;
}

$red: #f20000;
.red {
	color: $red !important;
}


$border-bg: #e5e5e5;

